{%
  assign header_classes = "
    flex
    justify-between
    items-center
    bg-white
    py-5
    px-8
    max-sm:px-4
    max-sm:py-4
    sticky
    top-0
    z-10
    border-b
    border-silver
  " | asClassNames
%}

<!doctype html>
<html lang="en" class="{{ class }} bg-cream text-dark-olive">
  <head>
    {% render "metadata", site: site, slug: slug %}
    <title>{% if title %}{{ title }} | {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header class="{{ header_classes }}">
      {% render "navi", site: site, slug: slug %}
    </header>
    <main>
      {{ content }}
    </main>
    <footer></footer>
    {% assign js_script = script | default: "index" %}
    <script type="module" src="/js/{{ js_script }}.js"></script>
  </body>
</html>