<!doctype html>
<html lang="en" class="{{ class }} bg-cream text-dark-olive">
  <head>
    {% render "metadata", site: site, slug: slug %}
    <title>{% if title %}{{ title }} | {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <nav></nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer></footer>
    {% if script %}
      <script type="module" src="/js/{{ script }}.js"></script>
    {% endif %}
  </body>
</html>