<!doctype html>
<html lang="en" class="{{ class }} bg-cream text-dark-olive">
  <head>
    {% render "metadata"
      , site: site
      , slug: slug %}
    <title>
      {% if title %}
        {{ title }} |
      {% endif %}
      {{ site.title }}
    </title>
    <link rel="stylesheet" href="/css/google-fonts.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header class="px-4 py-4 sm:py-5 sm:px-8 flex justify-between items-center bg-white/90 sticky top-0 z-10 border-b border-silver">
      {% render "templates/navi"
        , site: site
        , slug: slug
        , navi: navi %}
    </header>
    <main>
      {{ content }}
    </main>
    <footer class="section-padding text-cream text-center bg-slate flex flex-col gap-16 items-center justify-center border-t border-dark-olive">
      <ul class="flex flex-col items-center gap-4 font-medium font-serif sm:hidden">
        {% for link in navi %}
          <li>
            <a href="/{{ link }}/">{{ link | capitalize }}</a>
          </li>
        {% endfor %}
      </ul>
      {% render "templates/social"
        , site: site
        , classes: "flex sm:hidden" %}
      <p>Copyright
        <span id="year">{{ "now" | date: "%Y" }}</span><br/>
        {{ site.title }}</p>
    </footer>
    {% assign js_script = script | default: "common" %}
    <script type="module" src="/js/{{ js_script }}.js"></script>
    {% if deferred_script %}
      <script src="{{ deferred_script }}" defer></script>
    {% endif %}
  </body>
</html>