{%
  assign navi_classes = "
    flex
    flex-1
    items-center
    justify-between
    w-full
    max-sm:fixed
    max-sm:inset-0
    max-sm:bg-white
    max-sm:z-10
    max-sm:flex-col
    max-sm:justify-center
    max-sm:gap-16
    max-sm:pointer-events-none
    max-sm:opacity-0
  " | asClassNames
%}

{%
  assign button_classes = "
    cursor-pointer
    hidden
    max-sm:flex
    max-sm:items-baseline
    max-sm:gap-2
    font-serif
    text-coffee
    font-medium
    ml-auto
    relative
    z-20
  " | asClassNames
%}

{%
  assign list_classes = "
    font-serif
    text-coffee
    font-medium
    flex
    items-center
    gap-4
    max-sm:text-h6
    max-sm:flex-col
    max-sm:gap-8
  " | asClassNames
%}
<nav aria-label="Main navigation" class="flex items-center gap-8 w-full">
  <a href="/" aria-label="Home" {% if slug == "" %}aria-current="page"{% endif %} class="block relative z-20">
    <div class="w-15 h-15 max-sm:w-10 max-sm:h-10 bg-cream rounded-full block"></div>
  </a>
  <button class="{{ button_classes }}" aria-expanded="false" aria-controls="navi" id="navi-control">
    Menu
    <img src="/assets/arrow-down.svg" alt="" width="12" height="8" class="transition-transform" id="navi-arrow" />
  </button>
  <div class="{{ navi_classes }}" id="navi">
    <ul class="{{ list_classes }}">
      <li>
        <a href="/about/" {% if slug == "about" %}aria-current="page"{% endif %}>About</a>
      </li>
      <li>
        <a href="/tuition/" {% if slug == "tuition" %}aria-current="page"{% endif %}>Tuition</a>
      </li>
      <li>
        <a href="/recipes/" {% if slug == "recipes" %}aria-current="page"{% endif %}>Recipes</a>
      </li>
      <li>
        <a href="/blog/" {% if slug == "blog" %}aria-current="page"{% endif %}>Blog</a>
      </li>
      <li>
        <a href="/contact/" {% if slug == "contact" %}aria-current="page"{% endif %}>Contact</a>
      </li>
    </ul>
    <ul class="flex items-center gap-6">
      <li>
        <a href="{{ site.eventbrite_page.url }}" target="_blank" rel="noopener noreferrer">
          <img src="/assets/eventbrite.png" alt="Eventbrite" width="24" height="24" />
        </a>
      </li>
      <li>
        <a href="{{ site.facebook_page.url }}" target="_blank" rel="noopener noreferrer">
          <img src="/assets/facebook.png" alt="Facebook" width="24" height="24" />
        </a>
      </li>
    </ul>
  </div>
</nav>