---
layout: layout.liquid
title: Blog
pagination:
  data: posts
  size: 10
permalink: "blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber | plus: 1 }}/{% endif %}"
---

<section class="section-padding flex flex-col gap-16 sm:gap-24 justify-center">
  <div class="text-coffee text-h1-lg font-serif font-medium text-center">
    {{ blog_page.data.title | asHTML }}
  </div>
  <div role="separator" class="w-full max-w-[320px] mx-auto h-[1px] bg-silver"></div>
  {% for post in pagination.items %}
    <article class="text-center w-full max-w-[1440px] mx-auto{% if post.data.image.url %} relative section-padding{% endif %}">
      {% if post.data.image.url %}
        <div class="img absolute w-full h-full inset-0">
          {% render "partials/image"
            , image: post.data.image
            , sizes: "100vw"
            , classes: "absolute w-full h-full inset-0 object-cover" %}
          <div class="absolute top-0 left-0 w-full h-full bg-coffee/40" aria-hidden="true"></div>
        </div>
      {% endif %}
      <a href="/blog/{{ post.uid }}/" class="relative inline-flex flex-col items-center">
        <time datetime="{{ post.data.published_date | asDate }}" class="{% if post.data.image.url %}text-white shadow-text{% else %}text-dark-olive{% endif %} text-sm sm:text-base">
          {{ post.data.published_date | asDate }}
        </time>
        <div class="{% if post.data.image.url %}text-white shadow-text{% else %}text-coffee{% endif %} text-h3 font-serif font-medium mb-6">
          {{ post.data.title | asHTML }}
        </div>
        <div class="text-p arrow-link{% if post.data.image.url %} text-white shadow-text{% endif %}">
          <span>Read this blog post</span>
          {% render "svg/east_arrow" %}
        </div>
      </a>
    </article>
  {% endfor %}
  {% render "templates/pagination"
    , pagination: pagination %}
</section>