{% assign page_count = pagination.hrefs | size %}
{% assign page_classes = "w-6 h-6 flex items-center justify-center text-p rounded-sm leading-none border border-mocha hover:bg-dust/50 hover:text-white transition-colors motion-reduce:transition-none" %}
{% if page_count > 1 %}
  <div class="mt-12 flex flex-col gap-6">
    {% render "separator" %}
    <ul class="flex justify-center gap-2" aria-label="Pagination">
      {% if pagination.href.previous %}
        <li>
          <a
            href="{{ pagination.href.previous }}"
            aria-label="Previous page"
            class="{{ page_classes }} text-mocha">
            {% render "svg/chevron_right"
              , classes: "transform rotate-180" %}
          </a>
        </li>
      {% endif %}
      {% for page in pagination.hrefs %}
        <li>
          {% if pagination.pageNumber == forloop.index0 %}
            <span
              class="{{ page_classes }} text-white bg-dust hover:bg-dust/100"
              aria-current="page"
              aria-label="Page {{ forloop.index }}">
              {{ forloop.index }}
            </span>
          {% else %}
            <a
              href="{{ page }}"
              class="{{ page_classes }} text-mocha"
              aria-label="Page {{ forloop.index }}">
              {{ forloop.index }}
            </a>
          {% endif %}
        </li>
      {% endfor %}
      {% if pagination.href.next %}
        <li>
          <a
            href="{{ pagination.href.next }}"
            aria-label="Next page"
            class="{{ page_classes }} text-mocha">
            {% render "svg/chevron_right" %}
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}