{% for post in posts %}
  <article class="text-center w-full mx-auto max-w-xl">
    <a href="/{{ post_type }}/{{ post.uid }}/" class="group relative inline-flex flex-col items-center">
      <time datetime="{{ post.data.publish_date | asDate }}" class="text-dark-olive text-sm sm:text-base">
        {{ post.data.publish_date | asDate }}
      </time>
      <div class="text-coffee text-h3 font-serif font-medium mb-4">
        {{ post.data.title | asHTML }}
      </div>
      <div class="text-p arrow-link">
        <span>{{ post_link_text }}</span>
        <span class="group-hover:translate-x-1 transition-transform motion-reduce:transition-none">
          {% render "svg/east_arrow" %}
        </span>
      </div>
    </a>
  </article>
{% endfor %}
{% render "templates/pagination_page"
  , pagination: pagination %}