---
layout: layout.liquid
title: Recipes
---

{% assign title_classes = "w-[58.333vw] max-w-[840px] max-[835px]:w-full max-[835px]:max-w-[500px]" %}

{% if recipes_page.data.image.url %}
  {% render "templates/hero"
    , hero: recipes_page.data.image
    , title: recipes_page.data.title
    , subtitle: recipes_page.data.subtitle
    , title_classes: title_classes %}
{% endif %}


<section class="section-padding page-section">
  {% if recipes_page.data.image.url %}
  {% else %}
    <div class="flex flex-col gap-4">
      <h1 class="text-coffee text-h1-lg font-serif font-medium {{ title_classes }}">
        {{ recipes_page.data.title | asText }}
      </h1>
      <h2 class="text-coffee text-h5 font-serif font-medium">
        {{ recipes_page.data.subtitle | asText }}
      </h2>
    </div>
  {% endif %}

  {% render "separator"
    , classes: "rainbow-gradient" %}

  <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 w-full max-w-[1060px] mx-auto">
    {% for category in recipe_categories %}
      <a href="/recipes/category/{{ category.uid }}/" class="relative aspect-[4/3] flex flex-col justify-center items-center">
        <div class="img absolute w-full h-full inset-0 z-1">
          {% render "partials/image"
            , image: category.data.image
            , sizes: "100vw"
            , classes: "absolute w-full h-full inset-0 object-cover" %}
          <div class="absolute top-0 left-0 w-full h-full bg-coffee/40" aria-hidden="true"></div>
        </div>
        <div class="relative z-2 text-h4 font-serif font-medium text-white shadow-text">
          {{ category.data.name }}
        </div>
      </a>
    {% endfor %}
  </div>

  {% render "separator"
    , classes: "rainbow-gradient" %}
</section>