---
layout: layout.liquid
script: "home"
---

{% if home.use_hero %}
  {% render "templates/hero"
    , hero: home.hero
    , title: home.title %}
{% else %}
  {% render "templates/gallery"
    , gallery: home.gallery
    , title: home.title %}
{% endif %}

<section class="section-padding flex flex-col items-center gap-12">
  <h2 class="font-serif font-medium text-h5 text-center w-[53.333vw] max-w-[768px] max-[975px]:w-full max-[975px]:max-w-[560px]">
    {{ home.description }}
  </h2>
  <a href="/about/" class="btn block bg-copper border-beaver hover:bg-caramel">
    Learn more
  </a>
</section>

<section class="rainbow-gradient border-t border-b border-silver flex items-center justify-center select-none h-[80vw] xsm:h-[60vw] md:h-[34.72vw]">
  <div
    id="rotator"
    class="rotator"
    aria-label="{{ home.values[0].value | asText }}">
    <div class="pl-4">You</div>
    <div id="rotator-mask" class="rotator-mask">
      {% for item in home.values %}
        {% assign classes = "rotator-item" %}
        {% assign split_value = item.value | asText | split: "You" %}

        {% if forloop.first %}
          {% assign classes = classes | append: " rotator-item-current" %}
        {% else %}
          {% assign classes = classes | append: " rotator-item-staged" %}
        {% endif %}

        <span class="{{ classes }}" aria-hidden="{{ forloop.first == false }}">
          {{ split_value[1] | strip }}
        </span>
      {% endfor %}
    </div>
  </div>
</section>

<section class="section-padding">
  <div class="grid grid-cols-1 gap-24 justify-center max-w-[480px] md:max-w-[1060px] mx-auto md:grid-cols-4 md:text-left">
    {% for item in home.pillars %}
      {% assign classes = "flex flex-col gap-4 md:col-span-2" %}

      {% if forloop.last %}
        {% assign classes = classes | append: " md:col-start-2" %}
      {% endif %}

      <div class="{{ classes }}">
        <div class="flex">
          {% render "partials/image"
            , image: item.icon
            , sizes: "72px"
            , classes: "h-[96px] w-auto" %}
        </div>
        <h3 class="font-medium font-serif text-h5 text-coffee">{{ item.headline | asText }}</h3>
        <p class="xsm:text-p">{{ item.content }}</p>
      </div>
    {% endfor %}
  </div>
</section>